<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>
  <% if current_user.token.nil? %>
    <%= button_to "Connect to Github", github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section id="github_section">
    <h2>Github:</h2>
    <% if current_user.token.nil? %>
      <%= "Must sign in with Github" %>
    <% else %>
      <h4>Repositories:</h4>
      <% @github_info.get_repositories.each do |repo| %>
        <section id="repo">
         <li><%= link_to repo.name, repo.html_url %>
       </section>
    <% end %>

      <h4>Followers:</h4>
      <section id="followers">
        <% @github_info.get_followers.each do |follower| %>
          <li><%= link_to follower.login, follower.html_url %>
          <% if follower.html_url != nil %>
            <%= button_to "Add as Friend", "/friendships/create", method: :post %>
          <% end %>
        <% end %>
      </section>

      <h4>Following:</h4>
      <section id="following">
        <% @github_info.get_following.each do |following| %>
            <li><%= link_to following.login, following.html_url %>
            <% if following.html_url != nil %>
              <%= button_to "Add as Friend", "/friendships/create/#{following.login}", method: :post %>
            <% end %>
        <% end %>
      </section>

      <h4>Friends:</h4>
      <section id='friends'>
      </section>

    </section>
  </section>
  <% end %>
